.main-div {
  position: fixed;
  left: 30%;
  top: 30%;
  text-align: center;
}

button {
  background-color: #69F0AE;
  color: white;
}

.float-right {
  float: right;
}

.mr-10 {
  margin-right: 10px;
}
